@{
    ViewBag.Title = "UserProfile";
}

<h2>UserProfile</h2>
<li>@Html.ActionLink("Artifacts", "Index", "Artifact")</li>
<li>@Html.ActionLink("Skills", "Index", "Skill")</li>
<li>@Html.ActionLink("Goals", "Index", "Goal")</li>