@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <br />
</hgroup>

<article>
    <p>
        <h2>Project Background</h2>
        Originally this “Career Portfolio” was an assignment for the Legal and Ethical Issues In Computing class. Our client, The University of North Florida contacted us by way of our community partner Jim Littleton. Jim, as one of the professors who teaches the class, decided it would be a good idea to develop a resource that could be used by students to aggregate all the data collected in the assignment into one, easily referable place.
    </p>

    <p>
        <h2>Problem</h2>
        The problem is connected to the nature of the assignment. Students need to amass a “Career Portfolio”, listing skills, classes, future goals, strengths, weaknesses, life experiences, and generally preparing a resume for the real world. To assist in this endeavor our web application will need to intake large amounts of specific data from users and present that data in a clean, readable fashion.

    </p>

    <p>
        <h2>Project Management</h2>
        The project was a joint effort between all of us. However Danial Olsen took point as project lead. Use cases were assigned to each of us and were subsequently checked and edited by the group as a whole.
        <br />
        <br />
        We met at least once a week after class for several hours to exchange ideas abut the project and assign the weeks work, research, and programming responsibilities. We also took the opportunities several weekends to get together for programming and once to visit our mentor, Earnest’s, office to get an idea of how a professional development team operates.
        <br />
        <br />
        Additional assistance provided by our mentor Earnest Bombay, our community partner Jim Littleton, and our teacher Karthikeyan Umapathy was key in the progress we've made in the project so far.

    </p>

    <p>
        <h2>Going Forward</h2>
        Our project is by no means complete. But a fine foundation has been laid that we think in the next few months could develop into a recourse useful to not only to students in the Legal and Ethical Issues in Computing class, But also throughout the rest of the school, as an aggregate for information and documents useful for creating and presenting an online resume.

    </p>

    @*<p>
        <h2>Project Background</h2>
        Use this area to provide additional information.
    </p>*@
</article>

<aside>
    <h3>Other links</h3>
    @*<p>
        Use this area to provide additional information.
    </p>*@
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>