@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <ul>
            <li>Kyle Chaput</li>
            <li>Daniel Olsen</li>
            <li>Cole Hastings</li>
            <li>Armando Cordero</li>
        </ul>  
    </header>
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>904.620.1000</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>904.620.1000</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Group2Ozziesoft@gmail.com">Group2Ozziesoft@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        1 University of North Fl Dr<br />
        Jacksonville, FL 32224
    </p>
</section>