@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Account Not Active";
}

<h2>Not Active</h2>
<article>
    <p>Your account is not active. Please contact the system administrator to activate your account.</p>
</article>


