@{
    ViewBag.Title = "Welcome";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This web application was made by and for 
                <a href="http://unf.edu" title="UNF Website">UNF</a>
                 students as an online resource for aggregating skills, expirences, and documents relevent to your 
                professtional interests and asperations. 
                <br />
                <br />
                Please log in to work on your online resume or keep track of your professional goals.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<div>
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

</div>
