@{
    ViewBag.Title = "Not Active";
}

<hgroup class="title">
    <h2>Account Inactive</h2>
</hgroup>

<section class="contact">
    <p>
        <span>You are not logged in, please contact a system administrator.</span>
    </p>
</section>